# REAL ESTATE PRICE PREDICTION

Let's import the necessary libraries of python in this notebook.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
df=pd.read_csv(r'C:\Users\hp\Desktop\Real_Estate_Price_Prediction\Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
data=pd.read_csv("Bengaluru_House_Data.csv")
data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.shape

(13320, 9)

In [5]:
df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [8]:
df=df.drop(['availability','society'],axis='columns')

In [9]:
df

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,NaN,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [10]:
df.dropna(subset=['location','size'],inplace=True)

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
imputer=SimpleImputer(strategy='mean')

In [13]:
inputs=['bath','balcony']

In [14]:
imputer.fit(df[inputs])

SimpleImputer()

In [15]:
df[inputs]=imputer.transform(df[inputs])
df

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.000000,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.000000,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.000000,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.000000,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.000000,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,1.584343,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.000000,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.000000,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.000000,17.00

In [16]:
df.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [17]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [18]:
df.describe()

               bath       balcony         price
count  13303.000000  13303.000000  13303.000000
mean       2.692586      1.584343    112.584033
std        1.338629      0.798862    148.993820
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13303 non-null  object
 1   location    13303 non-null  object
 2   size        13303 non-null  object
 3   total_sqft  13303 non-null  object
 4   bath        13303 non-null  float64
 5   balcony     13303 non-null  float64
 6   price       13303 non-null  float64
dtypes: float64(3), object(4)
memory usage: 831.4+ KB

In [20]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [21]:
df['bhk']=df['size'].apply(lambda x:int(x.split(' ')[0]))

In [22]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

In [23]:
df.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
bhk           0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13303 non-null  object
 1   location    13303 non-null  object
 2   size        13303 non-null  object
 3   total_sqft  13303 non-null  object
 4   bath        13303 non-null  float64
 5   balcony     13303 non-null  float64
 6   price       13303 non-null  float64
 7   bhk         13303 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 935.4+ KB

In [25]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [26]:
df[~df['total_sqft'].apply(is_float)].head(10)

,area_type,location,size,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,Yelahanka,4 BHK,2100 - 2850,4.000000,0.000000,186.000,4
56,Built-up Area,Devanahalli,4 Bedroom,3010 - 3410,2.692586,1.584343,192.000,4
81,Built-up Area,Hennur Road,4 Bedroom,2957 - 3450,2.692586,1.584343,224.500,4
122,Super built-up Area,Hebbal,4 BHK,3067 - 8156,4.000000,0.000000,477.000,4
137,Super built-up Area,8th Phase JP Nagar,2 BHK,1042 - 1105,2.000000,0.000000,54.005,2
165,Super built-up Area,Sarjapur,2 BHK,1145 - 1340,2.000000,0.000000,43.490,2
188,Super built-up Area,KR Puram,2 BHK,1015 - 1540,2.000000,0.000000,56.800,2
224,Super built-up Area,Devanahalli,3 BHK,1520 - 1740,2.692586,1.584343,74.820,3
410,Super built-up Area,Kengeri,1 BHK,34.46Sq. Meter,1.000000,0.000000,18.500,1
549,Super built-up Area,Hennur Road,2 BHK,1195 - 1440,2.000000,0.000000,63.770,2

In [27]:
def convert_sqft_to_num(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [28]:
df['total_sqft']=df['total_sqft'].apply(convert_sqft_to_num)

In [29]:
df

,area_type,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.000000,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.000000,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.000000,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.000000,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.000000,51.00,2
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453.0,4.0,0.000000,231.00,5
13316,Super built-up Area,Richards Town,4 BHK,3600.0,5.0,1.584343,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.000000,60.00,2
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689.0,4.0,1.000000,488.00,4
13319,Super built-up Area,Doddathoguru,1 BHK,550.0,1.0,1.000000,17.00,1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13303 non-null  object
 1   location    13303 non-null  object
 2   size        13303 non-null  object
 3   total_sqft  13257 non-null  float64
 4   bath        13303 non-null  float64
 5   balcony     13303 non-null  float64
 6   price       13303 non-null  float64
 7   bhk         13303 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 935.4+ KB

In [31]:
df['total_sqft'].count()

13257

In [32]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [33]:
from sklearn.preprocessing import OneHotEncoder

In [34]:
encoder=OneHotEncoder(sparse=False,handle_unknown='ignore')

In [35]:
encoder.fit(df[['area_type']])

C:\Users\hp\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [36]:
one_hot=encoder.transform(df[['area_type']])
one_hot

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       ...,
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]])

In [37]:
df[['Super built-up  Area', 'Plot  Area', 'Built-up  Area','Carpet  Area']]=one_hot

In [38]:
df

,area_type,location,size,total_sqft,bath,balcony,price,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.000000,39.07,2,0.0,0.0,0.0,1.0
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.000000,120.00,4,0.0,0.0,1.0,0.0
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.000000,62.00,3,1.0,0.0,0.0,0.0
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.000000,95.00,3,0.0,0.0,0.0,1.0
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.000000,51.00,2,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453.0,4.0,0.000000,231.00,5,1.0,0.0,0.0,0.0
13316,Super built-up Area,Richards Town,4 BHK,3600.0,5.0,1.584343,400.00,4,0.0,0.0,0.0,1.0
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.000000,60.00,2,1.0,0.0,0.0,0.0
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689.0,4.0,1.000000,488.00,4,0.0,0.0,0.0,1.0
13319,Super built-up Area,Doddathoguru,1 BHK,550.0,1.0,1.000000,17.00,1,0.0,0.0,0.0,1.0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   area_type             13303 non-null  object
 1   location              13303 non-null  object
 2   size                  13303 non-null  object
 3   total_sqft            13257 non-null  float64
 4   bath                  13303 non-null  float64
 5   balcony               13303 non-null  float64
 6   price                 13303 non-null  float64
 7   bhk                   13303 non-null  int64
 8   Super built-up  Area  13303 non-null  float64
 9   Plot  Area            13303 non-null  float64
 10  Built-up  Area        13303 non-null  float64
 11  Carpet  Area          13303 non-null  float64
dtypes: float64(8), int64(1), object(3)
memory usage: 1.3+ MB

In [40]:
df.columns

Index(['area_type', 'location', 'size', 'total_sqft', 'bath', 'balcony',
       'price', 'bhk', 'Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'],
      dtype='object')

In [41]:
df=df.drop(['area_type','size'],axis=1)

In [42]:
df.describe()

,total_sqft,bath,balcony,price,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area
count,13257.000000,13303.000000,13303.000000,13303.000000,13303.000000,13303.000000,13303.000000,13303.000000,13303.000000
mean,1558.809175,2.692586,1.584343,112.584033,2.803728,0.181764,0.006540,0.151019,0.660678
std,1238.478935,1.338629,0.798862,148.993820,1.295022,0.385664,0.080608,0.358080,0.473497
min,1.000000,1.000000,0.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,1275.000000,2.000000,2.000000,72.000000,3.000000,0.000000,0.000000,0.000000,1.000000
75%,1680.000000,3.000000,2.000000,120.000000,3.000000,0.000000,0.000000,0.000000,1.000000
max,52272.000000,40.000000,3.000000,3600.000000,43.000000,1.000000,1.000000,1.000000,1.000000

In [43]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']
df

,location,total_sqft,bath,balcony,price,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,1.000000,39.07,2,0.0,0.0,0.0,1.0,3699.810606
1,Chikka Tirupathi,2600.0,5.0,3.000000,120.00,4,0.0,0.0,1.0,0.0,4615.384615
2,Uttarahalli,1440.0,2.0,3.000000,62.00,3,1.0,0.0,0.0,0.0,4305.555556
3,Lingadheeranahalli,1521.0,3.0,1.000000,95.00,3,0.0,0.0,0.0,1.0,6245.890861
4,Kothanur,1200.0,2.0,1.000000,51.00,2,0.0,0.0,0.0,1.0,4250.000000
...,...,...,...,...,...,...,...,...,...,...,...
13315,Whitefield,3453.0,4.0,0.000000,231.00,5,1.0,0.0,0.0,0.0,6689.834926
13316,Richards Town,3600.0,5.0,1.584343,400.00,4,0.0,0.0,0.0,1.0,11111.111111
13317,Raja Rajeshwari Nagar,1141.0,2.0,1.000000,60.00,2,1.0,0.0,0.0,0.0,5258.545136
13318,Padmanabhanagar,4689.0,4.0,1.000000,488.00,4,0.0,0.0,0.0,1.0,10407.336319
13319,Doddathoguru,550.0,1.0,1.000000,17.00,1,0.0,0.0,0.0,1.0,3090.909091

In [44]:
df.location=df.location.apply(lambda x:x.strip())

location_stats=df.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

location
Whitefield               540
Sarjapur  Road           397
Electronic City          304
Kanakpura Road           273
Thanisandra              237
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [45]:
len(df.location.unique())

1293

In [46]:
location_stats_less_than_10=location_stats[location_stats<=10]

In [47]:
df.location=df.location.apply(lambda x:'other' if x in location_stats_less_than_10 else x)
len(df.location.unique())

242

In [48]:
df.shape

(13303, 11)

In [49]:
df=df[~(df.total_sqft/df.bhk<300)]
df.shape

(12559, 11)

In [50]:
dummies=pd.get_dummies(df.location)

In [51]:
df=pd.concat([df,dummies.drop('other',axis='columns')],axis='columns')

In [52]:
df

,location,total_sqft,bath,balcony,price,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Electronic City Phase II,1056.0,2.0,1.000000,39.07,2,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,2600.0,5.0,3.000000,120.00,4,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,1440.0,2.0,3.000000,62.00,3,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,1521.0,3.0,1.000000,95.00,3,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,1200.0,2.0,1.000000,51.00,2,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,Whitefield,3453.0,4.0,0.000000,231.00,5,1.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
13316,other,3600.0,5.0,1.584343,400.00,4,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
13317,Raja Rajeshwari Nagar,1141.0,2.0,1.000000,60.00,2,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
13318,Padmanabhanagar,4689.0,4.0,1.000000,488.00,4,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
13319,Doddathoguru,550.0,1.0,1.000000,17.00,1,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df=df.drop(['location'],axis=1)
df

,total_sqft,bath,balcony,price,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area,price_per_sqft,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,1.000000,39.07,2,0.0,0.0,0.0,1.0,3699.810606,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,3.000000,120.00,4,0.0,0.0,1.0,0.0,4615.384615,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,3.000000,62.00,3,1.0,0.0,0.0,0.0,4305.555556,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,1.000000,95.00,3,0.0,0.0,0.0,1.0,6245.890861,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,1.000000,51.00,2,0.0,0.0,0.0,1.0,4250.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,3453.0,4.0,0.000000,231.00,5,1.0,0.0,0.0,0.0,6689.834926,...,0,0,0,0,1,0,0,0,0,0
13316,3600.0,5.0,1.584343,400.00,4,0.0,0.0,0.0,1.0,11111.111111,...,0,0,0,0,0,0,0,0,0,0
13317,1141.0,2.0,1.000000,60.00,2,1.0,0.0,0.0,0.0,5258.545136,...,0,0,0,0,0,0,0,0,0,0
13318,4689.0,4.0,1.000000,488.00,4,0.0,0.0,0.0,1.0,10407.336319,...,0,0,0,0,0,0,0,0,0,0
13319,550.0,1.0,1.000000,17.00,1,0.0,0.0,0.0,1.0,3090.909091,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df.columns

Index(['total_sqft', 'bath', 'balcony', 'price', 'bhk', 'Super built-up  Area',
       'Plot  Area', 'Built-up  Area', 'Carpet  Area', 'price_per_sqft',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=251)

In [55]:
df

,total_sqft,bath,balcony,price,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area,price_per_sqft,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,1.000000,39.07,2,0.0,0.0,0.0,1.0,3699.810606,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,3.000000,120.00,4,0.0,0.0,1.0,0.0,4615.384615,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,3.000000,62.00,3,1.0,0.0,0.0,0.0,4305.555556,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,1.000000,95.00,3,0.0,0.0,0.0,1.0,6245.890861,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,1.000000,51.00,2,0.0,0.0,0.0,1.0,4250.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,3453.0,4.0,0.000000,231.00,5,1.0,0.0,0.0,0.0,6689.834926,...,0,0,0,0,1,0,0,0,0,0
13316,3600.0,5.0,1.584343,400.00,4,0.0,0.0,0.0,1.0,11111.111111,...,0,0,0,0,0,0,0,0,0,0
13317,1141.0,2.0,1.000000,60.00,2,1.0,0.0,0.0,0.0,5258.545136,...,0,0,0,0,0,0,0,0,0,0
13318,4689.0,4.0,1.000000,488.00,4,0.0,0.0,0.0,1.0,10407.336319,...,0,0,0,0,0,0,0,0,0,0
13319,550.0,1.0,1.000000,17.00,1,0.0,0.0,0.0,1.0,3090.909091,...,0,0,0,0,0,0,0,0,0,0

In [56]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12559 entries, 0 to 13319
Data columns (total 251 columns):
 #    Column                       Dtype
---   ------                       -----
 0    total_sqft                   float64
 1    bath                         float64
 2    balcony                      float64
 3    price                        float64
 4    bhk                          int64
 5    Super built-up  Area         float64
 6    Plot  Area                   float64
 7    Built-up  Area               float64
 8    Carpet  Area                 float64
 9    price_per_sqft               float64
 10   1st Block Jayanagar          uint8
 11   1st Phase JP Nagar           uint8
 12   2nd Phase Judicial Layout    uint8
 13   2nd Stage Nagarbhavi         uint8
 14   5th Block Hbr Layout         uint8
 15   5th Phase JP Nagar           uint8
 16   6th Phase JP Nagar           uint8
 17   7th Phase JP Nagar           uint8
 18   8th Phase JP Nagar           uint8
 19   9th Phase JP Nagar           uint8
 20   AECS Layout                  uint8
 21   Abbigere                     uint8
 22   Akshaya Nagar                uint8
 23   Ambalipura                   uint8
 24   Ambedkar Nagar               uint8
 25   Amruthahalli                 uint8
 26   Anandapura                   uint8
 27   Ananth Nagar                 uint8
 28   Anekal                       uint8
 29   Anjanapura                   uint8
 30   Ardendale                    uint8
 31   Arekere                      uint8
 32   Attibele                     uint8
 33   BEML Layout                  uint8
 34   BTM 2nd Stage                uint8
 35   BTM Layout                   uint8
 36   Babusapalaya                 uint8
 37   Badavala Nagar               uint8
 38   Balagere                     uint8
 39   Banashankari                 uint8
 40   Banashankari Stage II        uint8
 41   Banashankari Stage III       uint8
 42   Banashankari Stage V         uint8
 43   Banashankari Stage VI        uint8
 44   Banaswadi                    uint8
 45   Banjara Layout               uint8
 46   Bannerghatta                 uint8
 47   Bannerghatta Road            uint8
 48   Basavangudi                  uint8
 49   Basaveshwara Nagar           uint8
 50   Battarahalli                 uint8
 51   Begur                        uint8
 52   Begur Road                   uint8
 53   Bellandur                    uint8
 54   Benson Town                  uint8
 55   Bharathi Nagar               uint8
 56   Bhoganhalli                  uint8
 57   Billekahalli                 uint8
 58   Binny Pete                   uint8
 59   Bisuvanahalli                uint8
 60   Bommanahalli                 uint8
 61   Bommasandra                  uint8
 62   Bommasandra Industrial Area  uint8
 63   Bommenahalli                 uint8
 64   Brookefield                  uint8
 65   Budigere                     uint8
 66   CV Raman Nagar               uint8
 67   Chamrajpet                   uint8
 68   Chandapura                   uint8
 69   Channasandra                 uint8
 70   Chikka Tirupathi             uint8
 71   Chikkabanavar                uint8
 72   Chikkalasandra               uint8
 73   Choodasandra                 uint8
 74   Cooke Town                   uint8
 75   Cox Town                     uint8
 76   Cunningham Road              uint8
 77   Dasanapura                   uint8
 78   Dasarahalli                  uint8
 79   Devanahalli                  uint8
 80   Devarachikkanahalli          uint8
 81   Dodda Nekkundi               uint8
 82   Doddaballapur                uint8
 83   Doddakallasandra             uint8
 84   Doddathoguru                 uint8
 85   Domlur                       uint8
 86   Dommasandra                  uint8
 87   EPIP Zone                    uint8
 88   Electronic City              uint8
 89   Electronic City Phase II     uint8
 90   Electronics City Phase 1     uint8
 91   Frazer Town                  uint8
 92   GM Palaya                    uint8
 93   Garudachar Palya             uint8
 94   Giri Nagar                   uint8
 95   Gollarapalya Hosahalli       uint8
 96   Gottigere                    uint8
 97   Green Glen Layout            uint8
 98   Gubbalala                    uint8
 99   Gunjur                       uint8
 100  HAL 2nd Stage                uint8
 101  HBR Layout                   uint8
 102  HRBR Layout                  uint8
 103  HSR Layout                   uint8
 104  Haralur Road                 uint8
 105  Harlur                       uint8
 106  Hebbal                       uint8
 107  Hebbal Kempapura             uint8
 108  Hegde Nagar                  uint8
 109  Hennur                       uint8
 110  Hennur Road                  uint8
 111  Hoodi                        uint8
 112  Horamavu Agara               uint8
 113  Horamavu Banaswadi           uint8
 114  Hormavu                      uint8
 115  Hosa Road                    uint8
 116  Hosakerehalli                uint8
 117  Hoskote                      uint8
 118  Hosur Road                   uint8
 119  Hulimavu                     uint8
 120  ISRO Layout                  uint8
 121  ITPL                         uint8
 122  Iblur Village                uint8
 123  Indira Nagar                 uint8
 124  JP Nagar                     uint8
 125  Jakkur                       uint8
 126  Jalahalli                    uint8
 127  Jalahalli East               uint8
 128  Jigani                       uint8
 129  Judicial Layout              uint8
 130  KR Puram                     uint8
 131  Kadubeesanahalli             uint8
 132  Kadugodi                     uint8
 133  Kaggadasapura                uint8
 134  Kaggalipura                  uint8
 135  Kaikondrahalli               uint8
 136  Kalena Agrahara              uint8
 137  Kalyan nagar                 uint8
 138  Kambipura                    uint8
 139  Kammanahalli                 uint8
 140  Kammasandra                  uint8
 141  Kanakapura                   uint8
 142  Kanakpura Road               uint8
 143  Kannamangala                 uint8
 144  Karuna Nagar                 uint8
 145  Kasavanhalli                 uint8
 146  Kasturi Nagar                uint8
 147  Kathriguppe                  uint8
 148  Kaval Byrasandra             uint8
 149  Kenchenahalli                uint8
 150  Kengeri                      uint8
 151  Kengeri Satellite Town       uint8
 152  Kereguddadahalli             uint8
 153  Kodichikkanahalli            uint8
 154  Kodigehaali                  uint8
 155  Kodigehalli                  uint8
 156  Kodihalli                    uint8
 157  Kogilu                       uint8
 158  Konanakunte                  uint8
 159  Koramangala                  uint8
 160  Kothannur                    uint8
 161  Kothanur                     uint8
 162  Kudlu                        uint8
 163  Kudlu Gate                   uint8
 164  Kumaraswami Layout           uint8
 165  Kundalahalli                 uint8
 166  LB Shastri Nagar             uint8
 167  Laggere                      uint8
 168  Lakshminarayana Pura         uint8
 169  Lingadheeranahalli           uint8
 170  Magadi Road                  uint8
 171  Mahadevpura                  uint8
 172  Mahalakshmi Layout           uint8
 173  Mallasandra                  uint8
 174  Malleshpalya                 uint8
 175  Malleshwaram                 uint8
 176  Marathahalli                 uint8
 177  Margondanahalli              uint8
 178  Marsur                       uint8
 179  Mico Layout                  uint8
 180  Munnekollal                  uint8
 181  Murugeshpalya                uint8
 182  Mysore Road                  uint8
 183  NGR Layout                   uint8
 184  NRI Layout                   uint8
 185  Nagarbhavi                   uint8
 186  Nagasandra                   uint8
 187  Nagavara                     uint8
 188  Nagavarapalya                uint8
 189  Narayanapura                 uint8
 190  Neeladri Nagar               uint8
 191  Nehru Nagar                  uint8
 192  OMBR Layout                  uint8
 193  Old Airport Road             uint8
 194  Old Madras Road              uint8
 195  Padmanabhanagar              uint8
 196  Pai Layout                   uint8
 197  Panathur                     uint8
 198  Parappana Agrahara           uint8
 199  Pattandur Agrahara           uint8
 200  Poorna Pragna Layout         uint8
 201  Prithvi Layout               uint8
 202  R.T. Nagar                   uint8
 203  Rachenahalli                 uint8
 204  Raja Rajeshwari Nagar        uint8
 205  Rajaji Nagar                 uint8
 206  Rajiv Nagar                  uint8
 207  Ramagondanahalli             uint8
 208  Ramamurthy Nagar             uint8
 209  Rayasandra                   uint8
 210  Sahakara Nagar               uint8
 211  Sanjay nagar                 uint8
 212  Sarakki Nagar                uint8
 213  Sarjapur                     uint8
 214  Sarjapur  Road               uint8
 215  Sarjapura - Attibele Road    uint8
 216  Sector 2 HSR Layout          uint8
 217  Sector 7 HSR Layout          uint8
 218  Seegehalli                   uint8
 219  Shampura                     uint8
 220  Shivaji Nagar                uint8
 221  Singasandra                  uint8
 222  Somasundara Palya            uint8
 223  Sompura                      uint8
 224  Sonnenahalli                 uint8
 225  Subramanyapura               uint8
 226  Sultan Palaya                uint8
 227  TC Palaya                    uint8
 228  Talaghattapura               uint8
 229  Thanisandra                  uint8
 230  Thigalarapalya               uint8
 231  Thubarahalli                 uint8
 232  Thyagaraja Nagar             uint8
 233  Tindlu                       uint8
 234  Tumkur Road                  uint8
 235  Ulsoor                       uint8
 236  Uttarahalli                  uint8
 237  Varthur                      uint8
 238  Varthur Road                 uint8
 239  Vasanthapura                 uint8
 240  Vidyaranyapura               uint8
 241  Vijayanagar                  uint8
 242  Vishveshwarya Layout         uint8
 243  Vishwapriya Layout           uint8
 244  Vittasandra                  uint8
 245  Whitefield                   uint8
 246  Yelachenahalli               uint8
 247  Yelahanka                    uint8
 248  Yelahanka New Town           uint8
 249  Yelenahalli                  uint8
 250  Yeshwanthpur                 uint8
dtypes: float64(9), int64(1), uint8(241)
memory usage: 3.9 MB

In [68]:
d={x:df[x].count() for x in df.columns}
d

{'total_sqft': 12513,
 'bath': 12513,
 'balcony': 12513,
 'price': 12513,
 'bhk': 12513,
 'Super built-up  Area': 12513,
 'Plot  Area': 12513,
 'Built-up  Area': 12513,
 'Carpet  Area': 12513,
 'price_per_sqft': 12513,
 '1st Block Jayanagar': 12513,
 '1st Phase JP Nagar': 12513,
 '2nd Phase Judicial Layout': 12513,
 '2nd Stage Nagarbhavi': 12513,
 '5th Block Hbr Layout': 12513,
 '5th Phase JP Nagar': 12513,
 '6th Phase JP Nagar': 12513,
 '7th Phase JP Nagar': 12513,
 '8th Phase JP Nagar': 12513,
 '9th Phase JP Nagar': 12513,
 'AECS Layout': 12513,
 'Abbigere': 12513,
 'Akshaya Nagar': 12513,
 'Ambalipura': 12513,
 'Ambedkar Nagar': 12513,
 'Amruthahalli': 12513,
 'Anandapura': 12513,
 'Ananth Nagar': 12513,
 'Anekal': 12513,
 'Anjanapura': 12513,
 'Ardendale': 12513,
 'Arekere': 12513,
 'Attibele': 12513,
 'BEML Layout': 12513,
 'BTM 2nd Stage': 12513,
 'BTM Layout': 12513,
 'Babusapalaya': 12513,
 'Badavala Nagar': 12513,
 'Balagere': 12513,
 'Banashankari': 12513,
 'Banashankari Stage II': 12513,
 'Banashankari Stage III': 12513,
 'Banashankari Stage V': 12513,
 'Banashankari Stage VI': 12513,
 'Banaswadi': 12513,
 'Banjara Layout': 12513,
 'Bannerghatta': 12513,
 'Bannerghatta Road': 12513,
 'Basavangudi': 12513,
 'Basaveshwara Nagar': 12513,
 'Battarahalli': 12513,
 'Begur': 12513,
 'Begur Road': 12513,
 'Bellandur': 12513,
 'Benson Town': 12513,
 'Bharathi Nagar': 12513,
 'Bhoganhalli': 12513,
 'Billekahalli': 12513,
 'Binny Pete': 12513,
 'Bisuvanahalli': 12513,
 'Bommanahalli': 12513,
 'Bommasandra': 12513,
 'Bommasandra Industrial Area': 12513,
 'Bommenahalli': 12513,
 'Brookefield': 12513,
 'Budigere': 12513,
 'CV Raman Nagar': 12513,
 'Chamrajpet': 12513,
 'Chandapura': 12513,
 'Channasandra': 12513,
 'Chikka Tirupathi': 12513,
 'Chikkabanavar': 12513,
 'Chikkalasandra': 12513,
 'Choodasandra': 12513,
 'Cooke Town': 12513,
 'Cox Town': 12513,
 'Cunningham Road': 12513,
 'Dasanapura': 12513,
 'Dasarahalli': 12513,
 'Devanahalli': 12513,
 'Devarachikkanahalli': 12513,
 'Dodda Nekkundi': 12513,
 'Doddaballapur': 12513,
 'Doddakallasandra': 12513,
 'Doddathoguru': 12513,
 'Domlur': 12513,
 'Dommasandra': 12513,
 'EPIP Zone': 12513,
 'Electronic City': 12513,
 'Electronic City Phase II': 12513,
 'Electronics City Phase 1': 12513,
 'Frazer Town': 12513,
 'GM Palaya': 12513,
 'Garudachar Palya': 12513,
 'Giri Nagar': 12513,
 'Gollarapalya Hosahalli': 12513,
 'Gottigere': 12513,
 'Green Glen Layout': 12513,
 'Gubbalala': 12513,
 'Gunjur': 12513,
 'HAL 2nd Stage': 12513,
 'HBR Layout': 12513,
 'HRBR Layout': 12513,
 'HSR Layout': 12513,
 'Haralur Road': 12513,
 'Harlur': 12513,
 'Hebbal': 12513,
 'Hebbal Kempapura': 12513,
 'Hegde Nagar': 12513,
 'Hennur': 12513,
 'Hennur Road': 12513,
 'Hoodi': 12513,
 'Horamavu Agara': 12513,
 'Horamavu Banaswadi': 12513,
 'Hormavu': 12513,
 'Hosa Road': 12513,
 'Hosakerehalli': 12513,
 'Hoskote': 12513,
 'Hosur Road': 12513,
 'Hulimavu': 12513,
 'ISRO Layout': 12513,
 'ITPL': 12513,
 'Iblur Village': 12513,
 'Indira Nagar': 12513,
 'JP Nagar': 12513,
 'Jakkur': 12513,
 'Jalahalli': 12513,
 'Jalahalli East': 12513,
 'Jigani': 12513,
 'Judicial Layout': 12513,
 'KR Puram': 12513,
 'Kadubeesanahalli': 12513,
 'Kadugodi': 12513,
 'Kaggadasapura': 12513,
 'Kaggalipura': 12513,
 'Kaikondrahalli': 12513,
 'Kalena Agrahara': 12513,
 'Kalyan nagar': 12513,
 'Kambipura': 12513,
 'Kammanahalli': 12513,
 'Kammasandra': 12513,
 'Kanakapura': 12513,
 'Kanakpura Road': 12513,
 'Kannamangala': 12513,
 'Karuna Nagar': 12513,
 'Kasavanhalli': 12513,
 'Kasturi Nagar': 12513,
 'Kathriguppe': 12513,
 'Kaval Byrasandra': 12513,
 'Kenchenahalli': 12513,
 'Kengeri': 12513,
 'Kengeri Satellite Town': 12513,
 'Kereguddadahalli': 12513,
 'Kodichikkanahalli': 12513,
 'Kodigehaali': 12513,
 'Kodigehalli': 12513,
 'Kodihalli': 12513,
 'Kogilu': 12513,
 'Konanakunte': 12513,
 'Koramangala': 12513,
 'Kothannur': 12513,
 'Kothanur': 12513,
 'Kudlu': 12513,
 'Kudlu Gate': 12513,
 'Kumaraswami Layout': 12513,
 'Kundalahalli': 12513,
 'LB Shastri Nagar': 12513,
 'Laggere': 12513,
 'Lakshminarayana Pura': 12513,
 'Lingadheeranahalli': 12513,
 'Magadi Road': 12513,
 'Mahadevpura': 12513,
 'Mahalakshmi Layout': 12513,
 'Mallasandra': 12513,
 'Malleshpalya': 12513,
 'Malleshwaram': 12513,
 'Marathahalli': 12513,
 'Margondanahalli': 12513,
 'Marsur': 12513,
 'Mico Layout': 12513,
 'Munnekollal': 12513,
 'Murugeshpalya': 12513,
 'Mysore Road': 12513,
 'NGR Layout': 12513,
 'NRI Layout': 12513,
 'Nagarbhavi': 12513,
 'Nagasandra': 12513,
 'Nagavara': 12513,
 'Nagavarapalya': 12513,
 'Narayanapura': 12513,
 'Neeladri Nagar': 12513,
 'Nehru Nagar': 12513,
 'OMBR Layout': 12513,
 'Old Airport Road': 12513,
 'Old Madras Road': 12513,
 'Padmanabhanagar': 12513,
 'Pai Layout': 12513,
 'Panathur': 12513,
 'Parappana Agrahara': 12513,
 'Pattandur Agrahara': 12513,
 'Poorna Pragna Layout': 12513,
 'Prithvi Layout': 12513,
 'R.T. Nagar': 12513,
 'Rachenahalli': 12513,
 'Raja Rajeshwari Nagar': 12513,
 'Rajaji Nagar': 12513,
 'Rajiv Nagar': 12513,
 'Ramagondanahalli': 12513,
 'Ramamurthy Nagar': 12513,
 'Rayasandra': 12513,
 'Sahakara Nagar': 12513,
 'Sanjay nagar': 12513,
 'Sarakki Nagar': 12513,
 'Sarjapur': 12513,
 'Sarjapur  Road': 12513,
 'Sarjapura - Attibele Road': 12513,
 'Sector 2 HSR Layout': 12513,
 'Sector 7 HSR Layout': 12513,
 'Seegehalli': 12513,
 'Shampura': 12513,
 'Shivaji Nagar': 12513,
 'Singasandra': 12513,
 'Somasundara Palya': 12513,
 'Sompura': 12513,
 'Sonnenahalli': 12513,
 'Subramanyapura': 12513,
 'Sultan Palaya': 12513,
 'TC Palaya': 12513,
 'Talaghattapura': 12513,
 'Thanisandra': 12513,
 'Thigalarapalya': 12513,
 'Thubarahalli': 12513,
 'Thyagaraja Nagar': 12513,
 'Tindlu': 12513,
 'Tumkur Road': 12513,
 'Ulsoor': 12513,
 'Uttarahalli': 12513,
 'Varthur': 12513,
 'Varthur Road': 12513,
 'Vasanthapura': 12513,
 'Vidyaranyapura': 12513,
 'Vijayanagar': 12513,
 'Vishveshwarya Layout': 12513,
 'Vishwapriya Layout': 12513,
 'Vittasandra': 12513,
 'Whitefield': 12513,
 'Yelachenahalli': 12513,
 'Yelahanka': 12513,
 'Yelahanka New Town': 12513,
 'Yelenahalli': 12513,
 'Yeshwanthpur': 12513}

In [84]:
for key, value in d.items():
    if value >= 12559:
        print(key)

In [85]:
y=df.price
y.head()

0     39.07
1    120.00
2     62.00
3     95.00
4     51.00
Name: price, dtype: float64

In [86]:
inputs=df.drop('price',axis='columns')
inputs.head()

,total_sqft,bath,balcony,bhk,Super built-up Area,Plot Area,Built-up Area,Carpet Area,price_per_sqft,1st Block Jayanagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,1.0,2,0.0,0.0,0.0,1.0,3699.810606,0,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,3.0,4,0.0,0.0,1.0,0.0,4615.384615,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,3.0,3,1.0,0.0,0.0,0.0,4305.555556,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,1.0,3,0.0,0.0,0.0,1.0,6245.890861,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,1.0,2,0.0,0.0,0.0,1.0,4250.000000,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
nan_count_per_column = df.isna().sum().sum()
print(nan_count_per_column)

0

In [88]:
df.dropna(inplace=True)

In [89]:
nan_count_per_column = df.isna().sum().sum()
print(nan_count_per_column)

0

In [90]:
nan_count_per_column = inputs.isna().sum().sum()
print(nan_count_per_column)

0

In [91]:
X=inputs
X.shape

(12513, 250)

In [92]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [93]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()

In [94]:
model.fit(X_train,y_train)

LinearRegression()

In [95]:
model.score(X_test,y_test)

0.7556479918540313

In [96]:
predictions=model.predict(X_test)

In [113]:
predictions

array([102.8941056 ,  15.07831163, 124.68782842, ..., 119.23684032,
         9.49368189,  65.74111569])

In [114]:
y_test

5292      89.00
1396      25.00
3463     116.00
9851     578.00
9366     135.00
          ...
12868     44.41
2284      36.50
9579     102.00
1317      53.40
11689     55.00
Name: price, Length: 2503, dtype: float64

In [135]:
from sklearn.feature_selection import SelectKBest,f_classif
selector = SelectKBest(score_func=f_classif, k=10)
X_new = selector.fit_transform(X, y)

In [136]:
selected_indices = selector.get_support(indices=True)
selected_features = X.columns[selected_indices]

In [137]:
selected_features

Index(['bath', 'bhk', 'price_per_sqft', 'Abbigere', 'Chandapura',
       'Cunningham Road', 'Doddakallasandra', 'Kathriguppe', 'NGR Layout',
       'Poorna Pragna Layout'],
      dtype='object')

In [138]:
model=LinearRegression()

In [139]:

inputs,targets=df[selected_features],y

In [140]:
model.fit(inputs,targets)

LinearRegression()

In [141]:
predictions=model.predict(inputs)

In [142]:
predictions

array([ 27.05856891, 184.02830252,  50.83436311, ...,  59.89392024,
       267.48744977, -35.33429589])

In [143]:
model.score(inputs,targets)

0.5906956740083043

In [144]:
targets

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
13315    231.00
13316    400.00
13317     60.00
13318    488.00
13319     17.00
Name: price, Length: 12513, dtype: float64

In [145]:
df[selected_features].loc[10]

bath                       2.000000
bhk                        3.000000
price_per_sqft          3888.888889
Abbigere                   0.000000
Chandapura                 0.000000
Cunningham Road            0.000000
Doddakallasandra           0.000000
Kathriguppe                0.000000
NGR Layout                 0.000000
Poorna Pragna Layout       0.000000
Name: 10, dtype: float64

In [146]:
model.predict([[3,3,4000,0,1,0,0,0,0,0]])

C:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([107.30649597])